@model IEnumerable<Common.Models.Node>
@using Common.Extensions
@if (!String.IsNullOrEmpty(TempData["DangerMessage"]?.ToString()) || !String.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
{
    var postFix = !String.IsNullOrEmpty(TempData["DangerMessage"]?.ToString()) ? "danger" : "success";
    <div class="alert alert-@postFix alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @if (!String.IsNullOrEmpty(TempData["DangerMessage"]?.ToString()))
        {
            @Html.TempData["DangerMessage"].ToString()
        }

        @if (!String.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
        {
            @Html.TempData["SuccessMessage"].ToString()
        }
    </div>
}

@Html.ActionLink("Pridėti", "Add", controllerName: "Node", null, htmlAttributes: new { @class = "btn btn-primary float-right"})
<div class="table-responsive" style="padding-top: 10px;">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Adresas</th>
                <th>Produkcinė taisyklė</th>
                <th>Antecedentų tipai</th>
                <th>Kosekvento tipas</th>
                <th>Operacijos</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var node in Model)
            {
                <tr>
                    <td>@node.Name</td>
                    <td>@node.Endpoint</td>
                    <td>@node.Rule.ToStringFull()</td>
                    <td>@string.Join(";", node.InputDataType.Select(x => x.DisplayName()).ToList())</td>
                    <td>@node.OutputDataType.DisplayName()</td>
                    <td>
                        @Html.ActionLink("Ištrinti", "Remove", "Node", routeValues: new { @id = node.Id }, htmlAttributes: new { @class = "btn btn-danger", @onclick = "return confirm('Ar tikrai norite ištrinti šį gamintoją?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>