@model IEnumerable<Common.Models.Node>
@Html.ActionLink("Add", "Add", controllerName: "Node", null, htmlAttributes: new { @class = "btn btn-primary"})
<hr/>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>End point</th>
                <th>Health end point</th>
                <th>Rule</th>
                <th>Input types</th>
                <th>Output type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var node in Model)
            {
                <tr>
                    <td>@node.Name</td>
                    <td>@node.Endpoint</td>
                    <td>@node.HealthEndPoint</td>
                    <td>@node.Rule.ToStringFull()</td>
                    <td>@string.Join(";", node.InputDataType.Select(x => x.ToString()).ToList())</td>
                    <td>@node.OutputDataType</td>
                    <td>
                        @Html.ActionLink("Remove", "Remove", "Node", routeValues: new { @id = node.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>